
<div *ngIf="pendingTransaction">
    <h2><span>Pending Transaction</span> {{pendingTransaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Sender</span></dt>
        <dd>
            <span>{{pendingTransaction.sender}}</span>
        </dd>
        <dt><span>Receiver</span></dt>
        <dd>
            <span>{{pendingTransaction.receiver}}</span>
        </dd>
        <dt><span>Token Quantity</span></dt>
        <dd>
            <span>{{pendingTransaction.tokenQuantity}}</span>
        </dd>
        <dt><span>Transaction Hash</span></dt>
        <dd>
            <span>{{pendingTransaction.transactionHash}}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
            <div *ngIf="pendingTransaction.imageId">
                <a [routerLink]="['/image', pendingTransaction.imageId]">{{pendingTransaction.imageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pending-transaction/'+ pendingTransaction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
